/* Font used in this site */
.azeret-mono-unique {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  /* Shared Styles */
  .primary-color{
    color: rgb(13, 19, 33,);
  }
  .text-decoration{
    text-decoration: none;
    color: #FFFFFF;
  }
  .bg{
    background-color: rgb(13, 19, 33, 0.02);
    margin: 74px 150px;  
  }
  .section-title{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
  }
  .section-description{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  .sub-section-title{
    font-size: 24;
    font-weight: bold;
    color: rgb(13, 19, 33, 0.70);
  }
  .sub-description{
    font-size: 16px;
  }
  .btn{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px rgb(13, 19, 33) solid;
  }
  /* nav styles */
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px 50px;
  }
  .nav-header{
      font-size: 28px;
      font-weight: 800;
  }
  nav ul li{
    list-style: none;
  }
  .nav-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border: 1px solid;
    border-radius: 8px;
  }

  /* Banner Styles */
  .banner{
    background-image: url(../assets/Hero-bg.png);
    background-size: content;
  }
 .banner-content{
    text-align: center;
    padding: 26px 221px 45px;
  }
  .banner-title{
    font-size: 48px;
    font-weight: 900;
  }
  .banner-description{
    font-size: 16px;
    margin: 24px 73px 32px;

  }
  .banner-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    background-color: #0D1321;
    border: none;
    border-radius: 8px;
  }

  /* Vision Section Styles */
  .vision{
    margin-top: 74px;
    padding: 80px 97px;
  }
.vision-sub-section1{
  display: flex;
  justify-content: space-between;
  gap: 98.3px;
  padding: 48px;
  background-color: #FFFFFF;
  margin-top: 48px;
  margin-bottom: 32px;
}
.vision-sub-section2{
  display: flex;
  gap: 32px;
  padding: 48px;
  background-color: #FFFFFF;
  margin-bottom: 32px;
}
.vision-sub-section3{
  display: flex;
  gap: 133px;
  padding: 48px;
  background-color: #FFFFFF;
}
.container-section{
  width: 60%;
}