/* Font used in this site */
.azeret-mono-unique {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  /* Primary Styles */
  .primary-color{
    color: rgb(13, 19, 33,);
  }
  .text-decoration{
    text-decoration: none;
    color: #FFFFFF;
  }
  .bg{
    background-color: rgb(13, 19, 33, 0.02);
    border-radius: 16px;
    margin-top: 74px;  
  }
  .section-title{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
  }
  .section-description{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 60px 0;
    padding: 10px;
  }
  .sub-section-title{
    font-size: 24px;
    font-weight: bold;
    color: rgb(13, 19, 33, 0.70);
  }
  .sub-description{
    font-size: 16px;
  }
  .btn{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    border: 1px rgb(13, 19, 33) solid;
    margin-top: 32px;
  }
  /* nav styles */
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px 50px;
  }
  .nav-header{
      font-size: 28px;
      font-weight: 800;
  }
  nav ul li{
    list-style: none;
  }
  .nav-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 24px;
    border: 1px solid;
    border-radius: 8px;
  }

  /* Banner Styles */
  .banner{
    background-image: url(../assets/Hero-bg.png);
    background-size: content;
  }
 .banner-content{
    text-align: center;
    padding: 26px 221px 45px;
  }
  .banner-title{
    font-size: 48px;
    font-weight: 900;
  }
  .banner-description{
    font-size: 16px;
    margin: 24px 73px 32px;

  }
  .banner-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 21px 24px;
    background-color: #0D1321;
    border: none;
    border-radius: 8px;
  }

  /* Main Styles */
  main{
    margin: 0 200px 0;
  }
  /* Vision Section Styles */
  .vision{
    margin-top: 74px;
    padding: 80px 97px;
  }
  .vision-sub-section1{
  display: flex;
  gap: 98.3px;
  justify-content: space-around;
  align-items: center;
  padding: 48px;
  background-color: #FFFFFF;
  margin-top: 48px;
  margin-bottom: 32px;
  }
  .vision-sub-section2{
  display: flex;
  gap: 32px;
  justify-content: space-evenly;
  align-items: center;
  padding: 48px;
  background-color: #FFFFFF;
  margin-bottom: 32px;
  }
  .vision-sub-section3{
  display: flex;
  gap: 133px;
  justify-content: center;
  align-items: center;
  padding: 48px;
  background-color: #FFFFFF;
  }
  .container-section{
  width: 60%;
  }

/* Inspiration-Section styles */
  .inspiration{
  margin-top: 90px;
  margin-bottom: 151px;
  }
  .embedded-video{
    padding: 32px;
    border: 1px solid rgb(13, 19, 33, 0.20);
    border-radius: 16px;
    margin-top: 48px;
  }
  iframe{
  border-radius: 16px;
  }

  /* My Current Goals Styles */
  .my-Target{
    margin-bottom: 111px;
  }
  .my-goals{
    display: flex;
    gap: 24px;
    align-items: center;
    margin-top: 48px;
  }
  .my-target-1, .my-target-2, .my-target-3{
    padding: 40px;
    border-radius: 16px;
  }
  .my-target-1{
    background-color: rgb(255, 76, 30, 0.05);
  }
  .my-target-2{
    background-color: rgb(0, 76, 232, 0.05);
  }
  .my-target-3{
    background-color: rgb(255, 223, 0, 0.05);
  }
  .column-title{
    font-size: 24px;
    font-weight: 900;
  }
  .column-description{
    font-size: 16px;
    font-weight: 400;
  }
  .my-Target a:link{
    font-size: 16px;
    font-weight: bold;
    color:rgb(13, 19, 33);
  }

  /* Support Section Styles */
  .support{
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-bottom: 80px;
    height: 400px;
  }
  .support-layout{
    text-align: center;
    padding: 64px 48px;
  }
  .support-header{
    color: white;
    font-size: 32px;
    font-weight: bold;
  }
  .support-description{
    color: #FFFFFF;
    font-size: 16px;
  }
  .support input[type="text"]{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    height: 57px;
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 8px;
    color:rgb(13, 19, 33);
  }
  .support input::placeholder {
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    color: rgba(13, 19, 33, 0.40);
  }
  .submit-btn{
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px;
    border: none;
    border-radius: 8px;
  }

/* Footer Styles */
  footer{
  display: flex;
  background-color: rgb(13, 19, 33, 0.03);
  justify-content: space-between;
  align-items: center;
  padding: 32px 150px;
  }
  footer h3{
  font-size: 20px;
  font-weight: 600;
  }
  .footer-img img{
    margin-right: 24px;
  }
